@charset "UTF-8";
body {
  font-family: 'Arial', Helvetica, Sans-serif;
}

#banner {
  width: 100%;
  background: #ffc51c;
}

#banner .carousel-inner .item img {
  width: 100%;
}

#banner .carousel-control {
  background-image: none;
}

.product-item a {
  display: block;
  text-align: center;
  color: black;
  padding: 20px 0;
}

.product-item a .figure {
  text-align: center;
}

.product-item a h2 {
  font-size: 14px;
  font-weight: bold;
}

.product-item a .stars {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.product-item a p {
  font-size: 12px;
  font-weight: 400;
}

.product-item a button {
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-style: italic;
  border: none;
  padding: 8px 18px;
}

.product-item a button img {
  width: 19px;
  display: inline-table;
  vertical-align: middle;
  margin-right: 8px;
}

.product-item a .economize {
  font-size: 10px;
  border: 1px solid black;
  background: white;
  width: auto;
  padding: 2px;
  margin: 10px auto 0 auto;
  width: 70%;
}

.product-item:hover a {
  text-decoration: none;
  background: #ffc51c;
}

/* Modal */
.modal-dialog {
  width: 80%;
}

.modal-content {
  text-align: center;
}

.modal-content img {
  max-width: 100%;
}

#ProductSlider .carousel-control {
  background-image: none;
}

@media (max-width: 992px) {
  header .brand {
    width: 100% !important;
    text-align: center;
  }
  header .brand img {
    max-width: 45% !important;
  }
  header .login {
    position: absolute;
    right: 0;
    width: auto;
  }
  header .search {
    clear: both;
  }
}

@media (max-width: 768px) {
  footer .infos {
    margin-bottom: 10px !important;
  }
}

/* Topo */
header {
  padding: 20px 0;
}

header .brand {
  padding: 10px 0;
  margin: 0 10px;
  width: 230px;
  display: inline-flex;
  float: left;
}

header .brand img {
  max-width: 100%;
}

header .login {
  padding: 15px 60px 0;
}

header .login p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

header .login a {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

header .search {
  padding: 20px 10px 0;
}

header .search button {
  background: black;
  border-color: black;
  border-radius: 12px !important;
  z-index: 3;
  left: 9px;
}

header .search button img {
  width: 19px;
}

header .search button:hover {
  background: black;
  z-index: 3 !important;
}

header .search input {
  background: #ffc51c;
  color: black;
  border: none;
  border-radius: 0 12px 12px 0;
  z-index: 2 !important;
}

header .search input::-webkit-input-placeholder {
  color: black;
}

header .search input::-moz-placeholder {
  color: black;
}

header .search input::-ms-input-placeholder {
  color: black;
}

header .contact {
  text-align: right;
  margin-top: 10px;
}

header .contact .flags {
  margin: 0;
  padding: 0;
}

header .contact .flags li {
  display: inline-block;
  margin: 0 2px;
}

header .contact .flags li img {
  width: 25px;
}

header .contact .skype-tel {
  margin: 10px 0 0 0;
  padding: 0;
}

header .contact .skype-tel li {
  display: inline-block;
  font-size: 16px;
  color: #00aff0;
}

#content {
  padding: 30px 0 60px 0;
}

/* Rodapé */
footer {
  background: #eee;
  padding: 40px 0;
}

footer .rodape {
  float: none;
  margin: 0 auto;
}

footer .infos {
  margin: 0;
  padding: 0;
}

footer .infos li {
  display: table-cell;
  vertical-align: top;
}

footer .infos li p {
  line-height: 23px;
  color: #949494;
}

footer .infos li p strong {
  color: black;
}

footer .infos li:first-of-type {
  width: 60px;
}

footer .infos-contato p a {
  font-size: 10px;
  text-transform: uppercase;
  background: #ffc51c;
  color: black;
  padding: 10px;
  display: block;
  max-width: 165px;
}

footer .infos-contato p a span {
  float: right;
  width: 80%;
}

footer .infos-contato p a:hover {
  text-decoration: none;
}
